.array-bar {
	width: 5px;
	background-color: turquoise;

	animation: slidein 300ms ease-in;

	@keyframes slidein {
		from {
			transform: translateY(60%);
		}

		to {
			transform: translateY(0);
		}
	}
}
