@use '../../styles/scss/config' as config;

@mixin test-bg {
	background-color: lighten(config.$background, $amount: 20);
	border: 1px solid rgb(136, 136, 136);
}

nav {
	width: 100vw;
	height: 5vh;
	position: absolute;
	top: 0;
	@include test-bg();
}

footer {
	height: 5vh;
	width: 100%;
	position: absolute;
	bottom: 0;
	@include test-bg();
}

div.main-container {
	margin: 5vh 0;
	height: 90vh;
	display: flex;
}
