.horizontal-slider {
	width: clamp(100px, 85%, 850px);
	margin-top: 2vh;

	.example-track {
		top: 20px;
		height: 4px;
	}
	.example-thumb {
		top: 12px;
		width: 10px;
		outline: none;
		height: 10px;
		line-height: 38px;
	}
}

.example-thumb {
	cursor: pointer;
	position: absolute;
	z-index: 100;
	background: #ffffff;
	border: 8px solid turquoise;
	border-radius: 100%;
	display: block;
	box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);

	.active {
		background-color: grey;
	}
}

.example-track {
	position: relative;
	background: #ddd;

	.example-track-0 {
		background: #83a9ff;
	}
}
